.bellact__screen-1-img-1,
.bellact__screen-1-img-2,
.bellact__screen-1-img-3,
.bellact__screen-1-img-4,
.bellact__screen-1-img-5 {
    position: absolute;
}


.bellact__screen-1-img-1 {
    top: 55px;
    left: 12px;
}

.bellact__screen-1-img-2 {
    top: 12px;
    left: 99px;
}

.bellact__screen-1-img-3 {
    top: 64px;
    right: 4px;
}

.bellact__screen-1-img-4 {
    top: 1px;
    left: 1px;
}

.bellact__screen-1-img-5 {
    top: 320px;
    left: 36px;
}

.bellact__screen-1-img-1,
.bellact__screen-1-img-2,
.bellact__screen-1-img-3 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
}

.bellact__screen-1-img-1 img,
.bellact__screen-1-img-2 img,
.bellact__screen-1-img-3 img {
    width: 40px;
    height: auto;
}

.bellact__screen-1-img-1 img:nth-child(1) {
    transform: rotate(-20deg);
}

.bellact__screen-1-img-1 img:nth-child(2) {
    position: relative;
    left: -4px;
    top: -5px;
    width: 60px;
}

.bellact__screen-1-img-2 img:nth-child(2) {
    position: relative;
    left: -2px;
    top: 7px;
}

.bellact__screen-1-img-3 img:nth-child(1) {
    transform: rotate(30deg);
    position: relative;
    left: 17px;
}

.bellact__screen-1-img-3 img:nth-child(2) {
    position: relative;
    left: -10px;
    top: -2px;
    width: 58px;
}